services:
  api:
    container_name: images-api
    depends_on:
      - mongo_db
    build: .
    env_file: .env
    # restart: unless-stopped
    ports:
      - 3200:3200
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/gcp/gcp-credentials.json
      - MONGO_USERNAME=$MONGO_USERNAME
      - MONGO_PASSWORD=$MONGO_PASSWORD
      - MONGO_HOSTNAME=db
      - MONGO_PORT=$MONGO_PORT
      - MONGO_DB=$MONGO_DB
    volumes:
      - $HOME/gcp:/gcp
      - ./api:/opt/app/api
      - ./api/node_modules:/opt/app/api/node_modules
    networks:
      - app-network
    # command: ./wait-for.sh imagesdb:$MONGO_PORT -- /opt/app/api/node_modules/.bin/nodemon ./api/index.js
    command: /opt/app/api/node_modules/.bin/nodemon ./api/index.js

  mongo_db:
    image: mongo
    container_name: images-db
    # command: --quiet
    restart: unless-stopped
    env_file: .env
    ports:
      - $MONGO_PORT:$MONGO_PORT
    expose:
      - $MONGO_PORT
    volumes:
      - mongodata:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
      - MONGO_INITDB_DATABASE=application_database
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  node_modules:
  mongodata: